<script type="text/javascript" defer>
 window.KiwiSizing = window.KiwiSizing === undefined ? {} : window.KiwiSizing;
 KiwiSizing.shop = "{{ shop.permanent_domain }}";
 {% assign t = template | prepend: '/' | append: '.' %}
 {% if t contains '/product.' %}
 KiwiSizing.data = {
  collections: "{{ product.collections | map: 'id' | join: ','}}",
  tags: {{ product.tags | join: ',' | json}},
  product: "{{product.id}}",
  vendor: {{product.vendor | json}},
  type: {{product.type | json}},
  title: {{product.title | json}},
  images: {{product.images | json}},
 };
 {% endif %}
</script>

<!-- START KiwiSizing code !-->
{% comment %} <div id="KiwiSizingChart"
  data-collections="{{ product.collections | map: 'id' | join: ','}}"
  data-tags="{{ product.tags | join: ',' | escape}}"
  data-product="{{product.id}}"
  data-vendor="{{product.vendor | escape}}"
  data-product-name="{{product.title}}"
  data-product-images="{{product.images | json| escape}}"
  data-type="{{product.type | escape}}">
</div> {% endcomment %}
<!-- END KiwiSizing code !-->
